bin/
obj/
/packages/
/codealike.json
/.idea/
/AzaanService/*.blob
/AzaanService/azaan.conf
/AzaanService/azaan.service
/.vs
/AzaanService/Properties/serviceDependencies.json
/AzaanService/Properties/serviceDependencies.local.json
/AzaanService/Properties/serviceDependencies.local.json.user
/AzaanService/azaan.dev.conf
