[Unit]
Description=Azaan Service

[Service]
ExecStart=/bin/dotnet/dotnet AzaanService.dll
User=azaan
Group=azaan
Restart=on-failure
SyslogIdentifier=azaan-service
PrivateTmp=true

[Install]
WantedBy=multi-user.target